
{# hero.section #}
{% macro section( item ) %}
    <section id="about-hero" class="pt6 hero hero-section container-fluid relative vh75">

        <div class="about-hero-slideshow block-background hero-back vh80">
            <div class="slick slick-passive">
                {% for image in options.site_gallery %}
                    <div class="slide" style="background-image: url('{{ image.sizes.hero }}')">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="thought-hero-mask background-color-page-color"></div>

        <div class="row mb3 vertical-center">
            <div class="offset-sm-2 col-sm-8 centered mb4">
                <h1 class="site-title white relative academic">{{ item.mission_statement }}</h1>
            </div>
            {% if item.about_image %}
            <div class="offset-xs-3 col-xs-6 offset-sm-4 col-sm-4">
                <img class="insight-image thin-border-page-color" src="{{ item.about_image.sizes.story }}">
                {% if item.about_image.caption %}
                <p class="caption">{{ item.about_image.caption }}</p>
                {% endif %}
            </div>
            {% endif %}
        </div>

    </section>
{% endmacro %}
