
{# hero.section #}
{% macro section( item ) %}
    <section id="about-hero" class="pt6 pb6 hero hero-section container-fluid vh75 relative">

        <div class="about-hero-slideshow block-background hero-back vh80">
            <div class="slick slick-passive">
                {% for image in options.site_gallery %}
                    <div class="slide" style="background-image: url('{{ image.sizes.hero }}')">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="thought-hero-mask background-color-page-color"></div>

        <div class="row mb3 vertical-center">
            <div class="offset-sm-2 col-sm-8 centered">
                <h1 class="site-title white relative"><span>{{ item.mission_statement }}<span></h1>
            </div>
        </div>
    </section>
{% endmacro %}
