{% macro section( item ) %}
    {% if item.cv %}
    <section class="insight container academic mt4 mb4" data-shift-v="-8">
        <div class="row">
            <div class="col-sm-12 centered mb3">
                <h2 class="insight-title page-color">Curriculum Vitae</h2>
            </div>
        </div>
        <div class="row ml1 mr1 mb2">
            <div class="col-sm-8 offset-sm-2 wysiwyg centered">
                {{ item.cv_introduction|safe }}
            </div>
        </div>
        <ul id="cv" class="mb2">
        {% for row in item.cv %}
            <li class="row mb1">
                <div class="timeline col-xs-10 offset-xs-1 centered-xs offset-sm-2 col-sm-2"><p class="page-color academic">{{ row.date_range }}</p></div>
                <div class="name col-xs-10 offset-xs-0 offset-sm-0 col-sm-4 centered"><p>{{ row.position }}</p></div>
                <div class="location col-xs-10 offset-xs-1 offset-sm-0 col-sm-4"><p>{{ row.location }}</p></div>
                {% if row.description %}
                    <div class="description col-sm-3">
                        <p class="h5 italic">{{ row.description }}</p>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
        <div class="row">
            <div class="col-sm-2 offset-sm-5">
                <h4 class="academic-rule border-bottom-page-color" />
            </div>
        </div>
    </section>
    {% endif %}
{% endmacro %}
