
{# hero.section
   ------------

 #}
{% macro section( index ) %}
    <section id="index-hero" class="pt6 pb6 hero hero-section container-fluid vh60 relative">

        <div class="block-background hero-back vh60">
            <div class="slick slick-passive">
                {% for image in index.gallery %}
                    <div class="slide" style="background-image: url('{{ image.sizes.hero }}')">
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="thought-hero-mask index-hero-mask background-color-page-color"></div>

        <div class="row mb3 vertical-center">
            <div class="offset-sm-3 col-sm-6 centered">
                <h1 class="site-title white relative"><span>{{ item.statement }}<span></h1>
            </div>
        </div>
    </section>
{% endmacro %}


{# hero.herotype #}
{% macro heroimage( image ) %}

    style="background-image:url('{{ image.sizes.hero }}')"

{% endmacro %}
