{% import '../thought/thought-card.html' as card %}

{% macro section( groups ) %}
    <section id="index-thought-groups" class="pb6 container">
        <ul class="thought-groups">
            {% for group in groups %}

                <li class="thought-group row">
                    <div class="col-sm-12 pb2">
                        <h2 class="thought-group-name bold"><span class="thoughts-title">{{ group.group_name }}</span></h2>
                    </div>
                    <div class="col-sm-3 col-xs-12 pb2">
                        <p class="thought-group-description pt0">{{ group.group_description|safe }}</p>
                    </div>
                    <div class="col-sm-9 col-xs-12 pb2">
                        <ul class="thoughts">
                            {% for thought in group.thoughts %}

                                {{ card.section( thought, 6, 6 ) }}

                            {% endfor %}
                        </ul>
                    </div>
                </li>

            {% endfor %}
        </ul>
    </section>
{% endmacro %}
