
{# hero.section
   ------------

 #}
{% macro section( index ) %}
    <section id="index-hero" class="pt6 pb6 hero {{ heroclass( item ) }} hero-section container-fluid vh80 relative" {{ heroimage( index.image ) }}>

        <div class="thought-hero-mask background-color-page-color"></div>

        <div class="row mb3 vertical-center">
            <div class="offset-sm-3 col-sm-6 centered">
                <h1 class="site-title white relative"><span>{{ item.statement }}<span></h1>
            </div>
        </div>
    </section>
{% endmacro %}


{# hero.herotype #}
{% macro heroimage( image ) %}

    style="background-image:url('{{ image.sizes.hero }}')"

{% endmacro %}
