

.slick-passive {

    height: inherit;

    .slick-slider,.slick-list,.slick-track{
        height: inherit;
    }

    .slide{
        background-size: cover;
        background-position: center center;
        height: 100%;
    }
}


#home-about{
	padding-top: $container-fluid-padding;
	padding-bottom: $container-fluid-padding;

	@media screen and (max-width: $sm) {
		padding-top: $container-fluid-padding-mobile*2;
		padding-bottom: $container-fluid-padding-mobile*2;

		.button{
			float: none;
		}
	}
}


.contact-section{
	@media screen and (max-width: $sm) {
		// h1{
		// 	color: $dark;
		// }
		// .button-white{
		// 	color: $dark;
		// 	border-bottom-color: $dark;
		// }
	}
}
