
/* Variables */

//brand colors
$brand: #FF713A;

//grays
$ultra-light: #F5F5F5;
$light: #D8D8D8;
$medium-light: #9B9B9B;
$medium: #828282;
//$medium-dark: #58595B;
$medium-dark: darken(#58595B,5%);
//$dark: #1F2C33;
$dark: lighten(#1F2C33,0%);
$white: white;
$active-color: #3061f9;
$highlight-color: #b94949;

//utility colors
$error: #ff4a4a;

//sizes
$nav-height: 60px;
$nav-height-mobile: 44px;
$container-fluid-max-width: 1680px;
$container-fluid-padding: 60px;
$container-fluid-padding-mobile: 15px;
$container-fluid-sum: $container-fluid-padding * 2;
$container-fluid-sum-mobile: $container-fluid-padding-mobile * 2;

//transitions
$modal-transition: .35s;


//breakpoints
$xs: 575px;
$sm: 767px;
$md: 991px;
$lg: 1199px;


//site
$body-background-color: white;
$yellow: #FDBA44;
$yellow-darker: darken($yellow, 16%);
$hero-opacity: .7;

$font-main: 'Cabin', Helvetica, Arial, Sans-serif;
$font-italic: 'Cabin', Helvetica, Arial, Sans-serif;
$font-bold: 'Cabin', Helvetica, Arial, Sans-serif;
$font-bold-italic: 'Cabin', Helvetica, Arial, Sans-serif;
$font-light: 'Cabin', Helvetica, Arial, Sans-serif;
$font-light-italic: 'Cabin', Helvetica, Arial, Sans-serif;
$font-academic: 'Domaine Display Semibold', Times, Serif;
