
.wysiwyg{

	h1,h2,h3,h4,h5,h6{
		@extend .bold;
	}

	em>strong{
		font-weight: 700;
	}

	a{
		color: $brand;
		text-decoration: underline;

		&:hover{
			color: darken($brand,20%);
		}
	}

    br {
        margin-bottom:4em;
    }

	ol{
		padding-left: 15px;
	}

    img[class*="align"],
    img[class*="wp-image-"] {
        height: auto; /* Make sure images with WordPress-added height and width >attributes are scaled correctly */
    }

    img.full-size {
        max-width: 97.5%;
        width: auto;
    }

    p {
        padding-bottom:1em;
    }

    img, .wp-caption {
        max-width: 100%;

    }

    .wp-caption-text {
        color:$medium;
        margin-bottom: 2em;
    }

}
