{% macro section( item ) %}
    <section class="thought-context container-fluid hidden" data-shift-v="-4">
        <div class="content-region ml1 mr1 p3 row thick-border-page-color">

            {{ metadata( item ) }}

            {{ overview( item ) }}

        </div>
    </section>
{% endmacro %}

{% macro metadata( item ) %}
    {% if item.metadata %}
        <div class="col-sm-3">
            <ul>
            {% for pair in item.metadata %}
                <li class="row">
                    <div class="col-sm-12">
                        <p class="thought-metadata-label page-color mb0">{{ pair.label }}</p>
                    </div>
                    <div class="col-sm-12">
                        <p class="thought-metadata-value">{{ pair.value }}</p>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endmacro %}

{% macro overview( item ) %}
    {% if item.metadata %}
        <div class="col-sm-9 thought-overview">
            <p>{{ item.overview|safe }}</p>
        </div>
    {% else %}
        <div class="col-sm-12 thought-overview">
            <p>{{ item.overview|safe }}</p>
        </div>
    {% endif %}
{% endmacro %}
