
{# hero.section
   ------------

   #}
   {% macro section( item ) %}

    <section id="thought-hero" class="pt6 mb4 hero {{ heroclass( item ) }} hero-section container-fluid" {{ heroimage( item ) }}>

        {% if item.hero.type === "images" %}
            <div class="block-background hero-back">
                <div class="slick slick-thought">
                    {% for image in item.hero.image %}
                        <div class="slide" style="background-image: url('{{ image.sizes.hero }}')">
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="hero-front">
            <div class="thought-hero-mask background-color-page-color"></div>
            <div class="row mb3">
                <div class="offset-sm-2 col-sm-8 centered">
                    <h1 class="thought-title"><span>{{ herotitle( item ) }}<span></h1>
                </div>
            </div>
            <div class="row mb1">
                <div class="offset-sm-1 col-sm-10 centered">
                    <p class="thought-summary h3">{{ item.summary }}</p>
                </div>
            </div>
            <div class="row mb1">
                <div class="offset-sm-3 col-sm-6 centered">
                    {{ heroIcon( item ) }}
                </div>
            </div>
        </div>
    </section>

    <a href="#close" id="hero-close" class="hero-toggle">
        <span class="icon" data-icon="ﬂ"></span>
    </a>

{% endmacro %}

{% macro heroclass( item ) %} herotype-{{ item.hero.type }} {% endmacro %}

{# hero.herotype #}
{% macro heroimage( item ) %}
    {% if item.hero.type === "image" %}
        style="background-image:url('{{ item.hero.image.sizes.hero }}')"
    {% elseif item.hero.type === "video" %}
        style="background-image:url('{{ item.hero.hero_cover_image.sizes.hero }}')"
    {% endif %}
{% endmacro %}


{% macro herotitle( item ) %}
    {% if item.title.long %}{{ item.title.long|safe }}{% else %}{{ item.title.short|safe }}{% endif %}
{% endmacro %}

{# hero.herotype #}
{% macro heroIcon( item ) %}
    {% if item.hero.type === "image" %}
        <!-- Image -->
    {% elseif item.hero.type === "images" %}
        <a href="#gallery" class="hero-toggle thought-icon">
            <span class="icon" data-icon="Ω"></span>
        </a>
    {% elseif item.hero.type === "video" %}
        <!-- Video -->
    {% else %}
        <!--  Something else -->
    {% endif %}
{% endmacro %}
